<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <title>{% block title %}SYGESCA :: {% endblock %}</title>
    {% block stylesheets %}
        <link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/css/pace.css'))}}'/>
        <script src='{{ absolute_url(asset('ressources/assets/js/pace.min.js'))}}'></script>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css')) }}'/>
        <link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css')) }}'/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/materialdesignicons.min.css'))}}'/>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/feather-icons.css'))}}'/>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/atmos.min.css'))}}'/>
        <link rel="stylesheet" href="{{ absolute_url(asset('ressources/vendor/fontawesome/css/all.min.css')) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('ressources/img/favicon.ico')) }}"/>
    <link rel="icon" href="{{ absolute_url(asset('ressources/img/favico.ico')) }}" type="image/png" sizes="16x16">
</head>
<body class="sidebar-pinned ">
<aside class="admin-sidebar">
    <div class="admin-sidebar-brand">
        <img class="admin-brand-logo" src="{{ absolute_url(asset('ressources/img/logo.png')) }}" width="60" alt="atmos Logo">
        <div class="ml-auto">
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
    <div class="admin-sidebar-wrapper js-scrollbar">
        <ul class="menu">
            {% if is_granted('ROLE_USER') %}
                <li class="menu-item active ">
                    <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Tableau de bord
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder fa fa-chart-line "></i>
                    </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">

                        <li class="menu-item ">
                            <a href='{{ absolute_url(path('homepage'))}}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Statistiques</span>
                            </span>
                                <span class="menu-icon">
                                <i class="icon-placeholder fe fe-activity"></i>
                            </span>
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="menu-item ">
                                <a href='{{ absolute_url(path('tbord_region'))}}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Regions</span>
                            </span>
                                    <span class="menu-icon">
                                <i class="icon-placeholder fe fe-activity"></i>
                            </span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="menu-item ">
                            <a href='{{ absolute_url(path('genre_index'))}}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Genre</span>
                            </span>
                                <span class="menu-icon">
                                <i class="icon-placeholder fe fe-users"></i>
                            </span>
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="menu-item ">
                                <a href='{{ absolute_url(path('cartographie_indx'))}}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Cartographie</span>
                            </span>
                                    <span class="menu-icon">
                                <i class="icon-placeholder fe fe-activity"></i>
                            </span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="menu-item ">
                    <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Gestion
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder fa fa-th"></i>
                    </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_scout_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Scout</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-user-friends"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_FINANCE') %}
                <li class="menu-item ">
                    <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Finance
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder fa fa-money-bill"></i>
                    </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('finance_liste')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Inscrits</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-user-friends"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('finance_ristourne')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Ristournes</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fas fa-money"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('finance_extraction')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Extraction</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fas fa-file-export"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="menu-item">
                <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Etats
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder fa fa-print "></i>
                    </span>
                </a>
                <!--submenu-->
                <ul class="sub-menu">

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu-item ">
                            <a href="{{ absolute_url(path('extraction_index')) }}" class=' menu-link'>
                                <span class="menu-label"><span class="menu-name">Extraction</span></span>
                                <span class="menu-icon"><i class="icon-placeholder fas fa-file-export"></i></span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="menu-item ">
                        <a href="{{ absolute_url(path('recherche_index')) }}" class=' menu-link'>
                            <span class="menu-label"><span class="menu-name">Carte provisoire</span></span>
                            <span class="menu-icon"><i class="icon-placeholder fa fa-id-card"></i></span>
                        </a>
                    </li>

                    <li class="menu-item ">
                        <a href="{{ absolute_url(path('etat_statistique_objectif')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Statistiques Régions</span>
                            </span>
                            <span class="menu-icon">
                                <i class="icon-placeholder fe fe-activity"></i>
                            </span>
                        </a>
                    </li>

                    <li class="menu-item ">
                        <a href="{{ absolute_url(path('etats_regionaux')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Liste par région</span>
                            </span>
                            <span class="menu-icon">
                                <i class="icon-placeholder fa fa-list"></i>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="open-dropdown menu-link">
                         <span class="menu-label">
                                                <span class="menu-name">Liste des jeunes
                                                      <span class="menu-arrow"></span>
                                                </span>
                                            </span>
                            <span class="menu-icon">

                                                    <i class="icon-placeholder mdi mdi-format-list-bulleted "></i>
                                            </span>
                        </a>
                        <!--submenu-->
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href='#' class=' menu-link'>
                                     <span class="menu-label"><span class="menu-name">Louveteaux </span></span>
                                    <span class="menu-icon"><i class="icon-placeholder  ">L</i></span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href='#' class=' menu-link'>
                                     <span class="menu-label"><span class="menu-name">Eclaireurs </span></span>
                                    <span class="menu-icon"><i class="icon-placeholder  ">E</i></span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href='#' class=' menu-link'>
                                     <span class="menu-label"><span class="menu-name">Cheminots </span></span>
                                    <span class="menu-icon"><i class="icon-placeholder  ">C</i></span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href='#' class=' menu-link'>
                                     <span class="menu-label"><span class="menu-name">Routiers </span></span>
                                    <span class="menu-icon"><i class="icon-placeholder  ">R</i></span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--<li class="menu-item ">
                        <a href="{{ absolute_url(path('recherche_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Liste des jeunes</span>
                            </span>
                            <span class="menu-icon">
                                <i class="icon-placeholder fa fa-users"></i>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a href="{{ absolute_url(path('recherche_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Liste des adultes</span>
                            </span>
                            <span class="menu-icon">
                                <i class="icon-placeholder fa fa-users"></i>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a href="{{ absolute_url(path('recherche_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Liste par branche</span>
                            </span>
                            <span class="menu-icon">
                                <i class="icon-placeholder fa fa-users"></i>
                            </span>
                        </a>
                    </li>-->

                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item ">
                    <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Administrateur
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder fa fa-wrench"></i>
                    </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="{{ absolute_url(path('admin_objectif_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Objectif</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-server"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ absolute_url(path('admin_region_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Region</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-server"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ absolute_url(path('admin_district_index')) }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">District</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-th-list"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_groupe_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Groupe</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-university"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_branche_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Branche</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-th-list"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_fonction_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Fonction</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-th-list"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_statut_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Statut</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-file"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item ">
                    <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Paramètres
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder fa fa-cogs"></i>
                    </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="{{ path('admin_gestionnaire_index') }}" class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Gestionnaire</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-users-cog"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href='{{ absolute_url(path('admin_user_index')) }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Utilisateurs</span>
                            </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-user-friends"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</aside>
<main class="admin-main">
    <header class="admin-header">

        <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>

        <nav class=" mr-auto my-auto">
            <ul class="nav align-items-center">

                <li class="nav-item">
                    <a class="nav-link" data-target="#siteSearchModal" data-toggle="modal" href="#">
                        <i class=" mdi mdi-magnify mdi-24px align-middle"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class=" ml-auto">
            <ul class="nav align-items-center">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online">
                            <span class="avatar-title rounded-circle bg-dark">S</span>

                        </div>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="dropdown-item" href="{{ absolute_url(path('fos_user_change_password'))}}"><i class="fa fa-user-edit"></i> Modifier le Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ absolute_url(path('fos_user_security_logout'))}}"> <i class="fa fa-lock"></i> Deconnexion</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ absolute_url(path('fos_user_security_login'))}}"><i class="fa fa-lock"></i> Connexion</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

        </nav>
    </header>
</main>
{% block body %}{% endblock %}

<div class="modal modal-slide-left  fade" id="siteSearchModal" tabindex="-1" role="dialog"
     aria-labelledby="siteSearchModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body p-all-0" id="site-search">
                <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-dark bg-dark text-white p-t-60 p-b-20 bg-dots">
                    <h3 class="text-uppercase    text-center  fw-300 "> Recherche</h3>

                    <div class="container-fluid">
                        <div class="col-md-10 p-t-10 m-auto">
                            <input type="search" placeholder="Rechercher le scout" class=" search form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="">
                   <div class="bg-dark text-muted container-fluid p-b-10 text-center text-overline">
                        Resultats
                    </div>
                    <div class="list-group list  ">
                        <!--<div class="list-group-item d-flex  align-items-center">
                            <div class="">
                                <div class="name">Amoikon dieudonne</div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="">
                                <div class="name">Aicha Seynou</div>
                            </div>
                        </div>-->
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% block javascripts %}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/9556cd6744b0b19628598270bd385082cda6a269.js')) }}'></script>
    <script src='{{ absolute_url(asset('ressources/assets/js/apexcharts.min.js'))}}'></script>
    <script src='{{ absolute_url(asset('ressources/assets/js/dashboard-01.js'))}}'></script>
    <script src="{{ absolute_url(asset('ressources/vendor/fontawesome/js/all.js')) }}"></script>
{% endblock %}
</body>
</html>
