<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
	<title>{% block title %}SYGESCA :: {% endblock %}</title>
	{% block stylesheets %}
		<link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/css/pace.css'))}}'/>
		<script src='{{ absolute_url(asset('ressources/assets/js/pace.min.js'))}}'></script>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css')) }}'/>
		<link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css')) }}'/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/materialdesignicons.min.css'))}}'/>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/feather-icons.css'))}}'/>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/atmos.min.css'))}}'/>
		<link rel="stylesheet" href="{{ absolute_url(asset('ressources/vendor/fontawesome/css/all.min.css')) }}">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('ressources/img/favicon.ico')) }}"/>
	<link rel="icon" href="{{ absolute_url(asset('ressources/img/favico.ico')) }}" type="image/png" sizes="16x16">
</head>
<body class="sidebar-pinned ">
<aside class="admin-sidebar">
	<div class="admin-sidebar-brand">
		<img class="admin-brand-logo" src="{{ absolute_url(asset('ressources/img/logo.png')) }}" width="60" alt="atmos Logo">
		<div class="ml-auto">
			<a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
			<a href="#" class="admin-close-sidebar"></a>
		</div>
	</div>


</aside>
<main class="admin-main">
	<section class="admin-content ">
		<div class="bg-dark m-b-30">
			<div class="container">
				<div class="row p-b-60 p-t-60">

					<div class="col-md-6 text-white p-b-30">
						<div class="media">
							<div class="media-body">
								<button class="btn btn-white-translucent" id="printDiv" > <i class="mdi
                                mdi-printer"></i>
									Imprimer</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="pull-up">
			<div class="container" id="printableArea">
				<div class="row"  >
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6" style="border: #cccccc solid 1px">
										<div class="row">
											<div class="col-md-12">
												<img src="{{ absolute_url(asset('ressources/img/logo.png')) }}" width="60" class="rounded-circle"
													 alt="" style="float: left">
												<H4 class="h4 font-primary mt-3 text-center">CARTE SCOUTE PROVISOIRE</H4>
											</div>
										</div>
										<div class="row mb-4">
											<div class="col-md-7">
												<div class="row">
													<div class="col-md-12 mt-3">
														<div class="text-left">Matricule: <span style="color: orangered; font-weight: bold;">{{ scout.matricule}}</span></div>
														<div>Nom: <span style="font-weight: bold;">{{ scout.nom|upper}}</span></div>
														<div>Prenoms: <span style="font-weight: bold;">{{ scout.prenoms|upper}}</span></div>
														<div>Né le: <span style="font-weight: bold;">{{ scout.datenaiss|date('d-m-Y')}}</span></div>
														<div>A: <span style="font-weight: bold;">{{ scout.lieunaiss|upper}}</span></div>
														<div>Sexe: <span style="font-weight: bold;">{{ scout.sexe}}</span></div>
													</div>
													<div class="col-md-12 text-right mb-5">
														<!--<div class="text-right">Carte N°: <span style="color: darkred; font-weight: bold;">{{ scout.matricule}}</span></div>-->
													</div>
													<div class="col-md-12">
														<div>Région: <span style="font-weight: bold;">{{ scout.groupe.district.region.nom}}</span></div>
														<div>District: <span style="font-weight: bold;">{{ scout.groupe.district.nom}}</span></div>
														<div>Groupe: <span style="font-weight: bold;">{{ scout.groupe.paroisse}}</span></div>
														{% if scout.branche %}
															<div>Unité: <span style="font-weight: bold;">{{ scout.branche}}</span></div>
														{% endif %}
														{% if scout.fonction %}
															<div>Fonction: <span style="font-weight: bold;">{{ scout.fonction}}</span></div>
														{% endif %}
														<div>En cas d'urgence: <span style="font-weight: bold; color: blue">{{ scout.contactParent}}</span></div>
													</div>
												</div>
											</div>
											<div class="col-md-5 text-center">
												<div class="text-center">Carte N°: <span style="color: darkred; font-weight: bold; font-size: 1.2em">{{ scout.carte}}</span></div>
												<div style="border: #cccccc solid 1px; width: 175px; height: 175px; margin-left: 20px;"></div>
												<div>
													<span style="font-size: 0.8em; font-style:italic;">Cachet et signature</span>
												</div>
												<div>
													<span style="font-size: 0.95em; font-style:italic;">Chef de Groupe</span>
												</div>
											</div>
										</div>
										<div class="row mb-2">
											<div class="col-md-12 text-center">
                                                <span style="font-size: 0.8em; font-style:italic; line-height: 0.5em;">
                                                     Cette carte est detenue à titre provisoire pour l'année {{ scout.cotisation }}.
                                                </span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</main>
{% block body %}{% endblock %}

{% block javascripts %}
	<script src='{{ absolute_url(asset('ressources/assets/bundles/9556cd6744b0b19628598270bd385082cda6a269.js')) }}'></script>
	<script src='{{ absolute_url(asset('ressources/assets/js/invoice-print.js'))}}'></script>
{% endblock %}
</body>
</html>
