{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Cartographiques{% endblock %}
{% block body %}
	<div class="admin-content">
		<div class="container p-t-20">
			<div class="row">
				<div class="col-6 m-b-30 mt-5">
					<h3>Cartographie {% if region %}de <strong>"{{ region.nom }}"</strong>{% endif %}</h3>
				</div>
				<div class="col-6 m-b-30 mt-5">
					<form action="{{ path('cartographie_region') }}" method="post">
						<select name="region" id="region" class="form-control js-select2" onchange="this.form.submit()">
							<option value="">-- Selectionnez la région --</option>
							{% for region in regions %}
								<option value="{{ region.slug }}">{{ region.nom }}</option>
							{% endfor %}
						</select>
					</form>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="card m-b-30">
								<div class="card-body">
									<div class="row">
										<div class="col my-auto">
											<div class="h6 text-muted ">Districts </div>
										</div>
									</div>
									<h1 class="display-4 fw-600">{{ nombre_district|number_format(0,'','.')}}</h1>
									<div class="h6">
										<span class="text-success">  </span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card m-b-30">
								<div class="card-body">
									<div class="row">
										<div class="col my-auto">
											<div class="h6 text-muted ">Groupes  </div>
										</div>
									</div>
									<h1 class="display-4 fw-600">{{ nombre_groupe|number_format(0,'','.')}}</h1>
									<div class="h6">
										<span class="text-success"> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<div class="card m-b-30">
						<div class="card-header">
							<h5 class="m-b-0">
								<i class="mdi mdi-checkbox-intermediate"></i> Statistiques par région
							</h5>

						</div>
						<div class="card-body">
							<div class="table-responsive">

								<table class="table table-hover ">
									<thead>
									<tr>
										<th>Districts</th>
										<th>Groupes</th>
									</tr>
									</thead>
									<tbody>
									{% for district in districts %}
										<tr>
											<td class="text-left">{{ district.nom }}</td>
											<td class="text-left">{{ render(url('cartographie_totaux_district',{'district': district.id })) }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>

						</div>
					</div>


				</div>
				<div class="col-md-7">
					<div class="card m-b-30">
						<div class="card-header">
							<h5 class="m-b-0">
								<i class="mdi mdi-checkbox-intermediate"></i> Derniers groupes enregistrés
							</h5>

						</div>
						<div class="card-body">
							<div class="table-responsive">

								<table class="table table-hover ">
									<thead>
									<tr>
										<th>Districts</th>
										<th>Paroisses</th>
										<th>Localites</th>
									</tr>
									</thead>
									<tbody>
									{% for groupe in groupes|slice(0,15) %}
										<tr>
											<td class="text-left">{{ groupe.district.nom }}</td>
											<td class="text-left">{{ groupe.paroisse }}</td>
											<td class="text-left">{{ groupe.localite }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
{% endblock %}

