<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
	<title>{% block title %}SYGESCA :: Recherche{% endblock %}</title>
	{% block stylesheets %}
		<link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/css/pace.css'))}}'/>
		<script src='{{ absolute_url(asset('ressources/assets/js/pace.min.js'))}}'></script>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css')) }}'/>
		<link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css')) }}'/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/materialdesignicons.min.css'))}}'/>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/feather-icons.css'))}}'/>
		<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/atmos.min.css'))}}'/>
		<link rel="stylesheet" href="{{ absolute_url(asset('ressources/vendor/fontawesome/css/all.min.css')) }}">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('ressources/img/favicon.ico')) }}"/>
	<link rel="icon" href="{{ absolute_url(asset('ressources/img/favico.ico')) }}" type="image/png" sizes="16x16">
</head>
<body class="sidebar-pinned ">
<main class="admin-main  bg-pattern">
	<div class="container">
		<div class="row m-h-70">
			<div class="col-md-8 col-lg-4  m-auto">
				<div class="card shadow-lg p-t-20 p-b-20">
					<div class="card-body text-center">
						<img width="100" alt="image" src="{{ asset('ressources/img/logo.png') }}">
						<h1 class="display-1 fw-600 font-secondary"></h1>
						<h5 class="text-left">Editer votre carte provisoire</h5>
						<p class="opacity-75">
						<form action="{{ path('recherche_carte') }}" method="POST">
							<div class="row">
								<div class="form-group col-sm-12 text-left">
									<label for="nom">Nom de famille</label>
									<input type="text" name="nom" class="form-control" placeholder="Entrez votre nom de famille" autocomplete="off" required>
								</div>
								<div class="form-group col-sm-12 text-left">
									<label for="datenaiss">Date de naissance</label>
									<input type="date" name="datenaiss" class="form-control" placeholder="Entrez votre date de naissance" autocomplete="off" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<a href="http://inscription.scoutascci.org" class='btn btn-lg btn-danger'><i class="fa fa-reply"></i> S'inscrire</a>
								</div>
								<div class="col-md-6">
									<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-check-circle"></i> Valider</button>
								</div>
							</div>
						</form>
						</p>
						<div class="p-t-10 text-left">
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row m-h-20">
			.
		</div>
	</div>
</main>

{% block javascripts %}
	<script src='{{ absolute_url(asset('ressources/assets/bundles/9556cd6744b0b19628598270bd385082cda6a269.js')) }}'></script>
{% endblock %}
</body>
</html>
