{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password needs-validation' } }) }}

<div class="form-row">
    <div class="form-group floating-label col-md-12">
        <span class="text-danger">{{ form_errors(form.current_password)}}</span>
        {{ form_widget(form.current_password, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password', 'placeholder':"Mot de passe actuel"}})}}

    </div>
    <div class="form-group floating-label col-md-12">
        {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password', 'placeholder':"Nouveau mot de passe"}})}}
        {{ form_errors(form.plainPassword.first)}}
    </div>
    <div class="form-group floating-label col-md-12">
        {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password', 'placeholder':"Repeter le mot de passe"}})}}
        {{ form_errors(form.plainPassword.second)}}
    </div>{{ form_widget(form) }}

</div>
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block btn-lg" />
</div>
{{ form_end(form) }}
