{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des utilisateurs</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Modification</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(edit_form)}}
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(edit_form.email)}}
                                    {{ form_errors(edit_form.email)}}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(edit_form.username)}}
                                    {{ form_errors(edit_form.username) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(edit_form.plainPassword.first,{'attr':{'class':"form-control",'placeholder':"Mot de passe"}})}}
                                    {{ form_errors(edit_form.plainPassword.first) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(edit_form.plainPassword.second,{'attr':{'class':"form-control",'placeholder':"Répéter le mot de passe"}})}}
                                    {{ form_errors(edit_form.plainPassword.first) }}
                                </div>
                                <div class="col-12">
                                    Roles
                                </div>
                                <div class="form-group">
                                    <div class="col-12 custom-control custom-checkbox">
                                        {{ form_widget(edit_form.roles.0,{'attr':{'class':"custom-control-input"}})}}
                                        <label class="custom-control-label" for="appbundle_user_roles_0">Utilisateur</label>
                                    </div>
                                    <div class="col-12 custom-control custom-checkbox">
                                        {{ form_widget(edit_form.roles.1,{'attr':{'class':"custom-control-input"}})}}
                                        <label class="custom-control-label" for="appbundle_user_roles_1">Administrateur</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(edit_form.enabled)}}
                                    <label class="custom-control-label" for="appbundle_user_enabled">Activer</label>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">Modifier</button>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
