{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des scouts{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des scouts</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Modification</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(edit_form)}}
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.groupe)}}
                                    {{ form_errors(edit_form.groupe)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.statut)}}
                                    {{ form_errors(edit_form.statut)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.nom)}}
                                    {{ form_errors(edit_form.nom) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.prenoms)}}
                                    {{ form_errors(edit_form.prenoms)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.datenaiss)}}
                                    {{ form_errors(edit_form.datenaiss)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.lieunaiss)}}
                                    {{ form_errors(edit_form.lieunaiss) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.contact)}}
                                    {{ form_errors(edit_form.contact)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.contactParent)}}
                                    {{ form_errors(edit_form.contactParent)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.email)}}
                                    {{ form_errors(edit_form.email) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.sexe)}}
                                    {{ form_errors(edit_form.sexe)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.branche)}}
                                    {{ form_errors(edit_form.branche)}}
                                </div>
                                <div class="col-4 form-group">
                                    {{ form_widget(edit_form.fonction)}}
                                    {{ form_errors(edit_form.fonction) }}
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a href="{{ path('admin_scout_index') }}" class="btn btn-default">Annuler</a>
                                <button class="btn btn-primary">Modifier</button>

                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
