{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="needs-validation">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-row">
        <div class="form-group floating-label col-md-12">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" class="form-control" required="required" autocomplete="off" />
        </div>
        <div class="form-group floating-label col-md-12">
            <input type="password" id="password" class="form-control " name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
        </div>
        <!--<div class="form-group floating-label col-md-12">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>-->
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block btn-lg" />
</form>
