{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des fonctions{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des fonctions</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Liste des fonctions</h5>
                        </div>
                        <div class="card-body ">
                            <div class="table-responsive p-t-10">
                                <table id="example" class="table   " style="width:100%">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Noms</td>
                                        <td>Montants</td>
                                        <td>Ristournes</td>
                                        <td>Actions</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fonction in fonctions %}
                                        <tr>
                                            <td>{{ loop.index }}
                                            <td>{{ fonction.libelle }}</td>
                                            <td>{{ fonction.montant }}</td>
                                            <td>{{ fonction.ristourne }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('admin_fonction_edit', {'id': fonction.id}) }}" title="Modifier la fonction"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--widget card ends-->


                </div>
                <div class="col-lg-4">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Enregistrement</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(form)}}
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.libelle)}}
                                    {{ form_errors(form.libelle) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(form.montant)}}
                                    {{ form_errors(form.montant)}}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(form.ristourne)}}
                                    {{ form_errors(form.ristourne)}}
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
