<td class="text-right">{{ inscription_total|number_format(0,'','.') }}</td>
<td class="text-right">{{ ristourne_total|number_format(0,'','.') }}</td>
<td class="text-right">{{ ristourne_jeune|number_format(0,'','.') }}</td>
<td class="text-right">{{ ristourne_chef|number_format(0,'','.') }}</td>
<td class="text-right">{{ ristourne_region|number_format(0,'','.') }}</td>
